@media screen and (max-width: 600px) { 
  .mainvisual img {
    height: calc(100vh - 60px); 
  }
  #about .text {
    flex-direction: column;
  }
  #about .text img {
    margin-right: 0;
  }

  #bicycle ul {
    flex-direction: column;
  }
  #bicycle ul li {
    width: 100%;
    margin-bottom: 30px;
  }
  
}
